.navbar{
    width: 100%;
    height: 80px;
    margin: 0px;
    background-color: aqua;
}

.navbar_main{
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
}

.nav_info_text{
    font-size: 30px;
    font-weight: 600;
    color: rgb(44, 44, 39);
}